* {
  box-sizing: border-box;
}

:root {
  --text-color: rgb(237, 231, 231);
  --text-hover-color: white;

  --footer-height: 80px;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: none;
  height: 100vh;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
}

/*----- Navbar -----*/
nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.904);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

nav div {
  display: flex;
  gap: 20px;
}

#title {
  font-size: 1.5rem;
  outline: none;
}

button {
  background: none;
  border: none;

  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  outline: 1px solid var(--text-color);
  border-radius: 3px;
  padding: 5px 25px;
}

button:hover {
  color: var(--text-hover-color);
  outline: 2px solid var(--text-hover-color);
}

/*----- general content -----*/
#content {
  overflow: hidden;
}

.page{
  opacity: 0%;
  transition: opacity 0.5s;
}

/*----- homepage -----*/
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container h1 {
  position: absolute;
  z-index: 1;
  color: var(--text-color);
  font-size: 2.5rem;
}

.home-img {
  width: 100vw;
  opacity: 0.4;
  object-fit: cover;
  object-position: center center;
  height: calc(100vh - var(--footer-height));
}
  
/* ----- footer ----- */
.footer {
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
}


@media screen and (max-width:500px) {
  
  nav{

  justify-content: center;
  }
}